@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors  */
    --color-primary: hsl(270, 50%, 47%);
    --color-primary-tint-30: color-mix(in srgb, var(--color-primary), white 30%);
    --color-primary-tint-80: color-mix(in srgb, var(--color-primary), white 80%);
    --color-primary-tint-90: color-mix(in srgb, var(--color-primary), white 90%);
    --color-primary-tint-95: color-mix(in srgb, var(--color-primary), white 95%);
    --color-primary-shade-10: color-mix(in srgb, var(--color-primary), black 10%);
    --color-primary-shade-20: color-mix(in srgb, var(--color-primary), black 20%);

    --color-text: "#ffffff";
    --nav-height: "";
    /* transition  */
    --transition-primary: .3s;
  }

  html {
    scroll-behavior: smooth;
  }

  /* reset elements  */
  * {
    box-sizing: border-box;
    /* font-family: "Lato Regular"; */
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  span {
    display: inline-flex;
  }

  button {
    border: none;
    font-family: "TT Phobos Trial";
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-family: "TT Phobos Trial";
  }


  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-32
  }


  .element-center {
    @apply flex justify-center items-center
  }

  .section-gap {
    @apply py-12 md:py-24
  }

  .section-bg {
    @apply bg-primaryTint95
  }

  .btn-primary {
    @apply bg-primary hover:bg-primaryShade10 duration-300 px-4 py-2 md:px-7 md:py-2.5 text-text !font-semibold !rounded-full transition-all
  }

  .btn-primary-tint-95 {
    @apply bg-primaryTint95 hover:bg-primaryTint90 duration-300 px-4 py-2 md:px-7 md:py-2.5 !font-semibold !rounded-full transition-all
  }


}